* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  width: 100%;
}
html {
  font-size: 16px;
}

ul {
  list-style: none;
}

li {
  padding: 0 7px;
}

li a {
  color: #ccc;
}

.top {
  color: #ccc;
  font-size: 0.9rem;
}
.banner {
  height: 100vh;
}
.carousel-caption {
  margin-bottom: 35vh;
}
